# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

#Directory
build/
Debug/
nbproject/

#TXT files
src/*.txt

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

